<!-- /snippets/blog-sidebar.liquid -->
<!-- Created by Andy 09/08/2017 -->

<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 sidebar">
  {% if settings.search_use_chk == true %}
  <div class="widget widget-search">
    <form id="searchForm" method="get" class="searchform" action="/search" role="search">
        <div class="search-block">
          <div class="search-inner">
            <input type="text" class="search-info" placeholder="{{settings.place_holder_search_sidebar}}" name="q" {% if search.performed %} value="{{ search.terms | escape | downcase }}"{% endif %}>
            <input type="hidden" name="type" value="article" />
            <a id="btn_submit_search" href="javascript:void(0)" class="search-button"><i class="fa fa-search" aria-hidden="true"></i></a>
          </div>
        </div>
    </form>
  </div>
  {% endif %}
  
  {% if settings.blog_post_use == true %}
  <div class="widget widget-text">
    <h5 class="widgettitle">{{settings.blog_title_block}}</h5>
    <div class="content">
      <p>{{settings.blog_description_block}}</p>
    </div>
  </div>
  {% endif %}
  
  {% if settings.category_use_chk == true %}
  <div class="widget widget-blog-categories">
    <h5 class="widgettitle">{{settings.title_category_sidebar}}</h5>
    <ul class="blog-categories">
      {% for tag in blog.all_tags %}  
      	  {% assign count = 0 %}
      	  {% for article in blogs[blog.handle].articles %}
      			{% for tag_detail in article.tags %}
      				{% if tag == tag_detail %}
      					{% assign count = count | plus: 1 %}
      				{% endif %}      
      			{% endfor%}
      	  {%endfor%}
      
          {% if current_tags contains tag %}
      		<li class="active">{{ tag | link_to_tag: tag  }}</li>          
          {% else %}
          	<li>{{ tag | link_to_tag: tag  }}</li>
          {% endif %}
      {% endfor %}      
    </ul>
  </div>
  {% endif %}
  
  <div class="widget widget-recent-post">
    <h5 class="widgettitle">{{settings.title_latest_sidebar}}</h5>
    <ul class="list-recent-posts blog-list">
      
      {% for article in blogs[blog.handle].articles limit: settings.pagination_limit_blog_latest %}
          <li class="post-item">
            {% if article.image %}
                <div class="post-format">
                  <a href="{{article.url}}"><img src=" {{ article | img_url: 'large'}}" alt=""></a>
                </div>                
            {% endif %}
            <div class="post-info">
              <div class="head">
                <a href="{{article.url}}" class="post-title">{{ article.title }}</a>
              </div>
              <div class="main-info-post">
                <ul class="meta-post">
                  <li class="time-post"><a href="javascript:void(0)">{{ article.created_at | date: "%b" }} {{ article.created_at | date: "%d" }} {{ article.created_at | date: "%Y" }}</a></li>
                </ul>
              </div>  
            </div>            
          </li>   
      {% endfor%}   
    </ul>
  </div>
  
  <div class="widget widget-bestseller">
    <h5 class="widgettitle">Best seller</h5>
    <div class="owl-carousel nav-style2" data-autoplay="false" data-nav="true" data-dots="false" data-loop="true" data-slidespeed="800" data-margin="30"  data-responsive = '{"0":{"items":1},"480":{"items":1}, "600":{"items":2}, "768":{"items":1}, "1024":{"items":1}, "1200":{"items":1}}'>
      {% assign collection_handle = settings.best_selling_collection %}
      {% if collection_handle == "" or collection_handle ==  blank %}
      {% assign collection_handle="frontpage" %}
      {% endif %}

      {% assign limit_number = settings.best_selling_limit_number%}
      
      
      {% assign count = 0 %}
      {% for product in collections[collection_handle].products limit:limit_number %} 	
      {% if count  == 0 %}
      <ul class="list-recent-posts"> 
        {% endif %}              
        
        <li class="product-item">
          <div class="thumb"><a href="{{ product.url | within: collection }}"><img src="{{ product.featured_image.src | img_url: 'grande' }}" alt=""></a></div>
          <div class="info">
            <!-- Rate code -->
            <div class="star-rating">
              <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            </div>
            <!-- End rate-->
            <a href="{{ product.url | within: collection }}" class="product-name">{{product.title}}</a>
            <div class="price">
              {% if product.compare_at_price > product.price %}
              <span class="del">{{ product.compare_at_price | money }}</span>
              {% endif %}
              <span class="ins">{{ product.variants[0].price | money}}</span>
            </div>
          </div>
        </li>
       
        {% assign count = count | plus: 1 %}
        {% if count == 5 or forloop.last == true %}                      			
         </ul>
      {% assign count = 0 %}
      {% endif %}
      {%endfor%}  
     
      
      
    </div>
  </div>
  
</div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    $("#btn_submit_search").on('click',function(e){
       	$("#searchForm").submit();
    })
    
    
  })
  
</script>