{% include 'product-res-variables' %}
{%- assign image_size = image_size | default: '200x' -%}
{%- assign show_label_in_stock = false | default: settings.product_collection_show_label_in_stock -%}
{%- assign show_label_out_stock = true | default: settings.product_collection_show_label_out_stock -%}
{%- assign show_label_sale = true | default: settings.product_collection_show_label_sale -%}
{%- assign show_label_new = true | default: settings.product_collection_show_label_new -%}
{%- assign show_label_hot = true | default: settings.product_collection_show_label_hot -%}
{%- assign show_title = true | default: settings.product_collection_show_title -%}
{%- assign show_price = true | default: settings.product_collection_show_price -%}
{%- assign show_button_add_to_cart = true | default: settings.product_collection_show_button_add_to_cart -%}
{%- assign show_button_quick_view = false | default: settings.product_collection_show_button_quick_view -%}
{%- assign show_button_remove = true -%}
<div class="product-wishlist" data-js-product data-js-store-lists-product-wishlist data-product-handle="{{ product.handle }}" data-product-variant-id="{{ current_variant_id }}">
    <div class="product-wishlist__image js-product-images-navigation js-product-images-hovered-end">
      	<a href="{{ url }}">
          {% assign image = product.featured_image.src %}
          {% assign ratio = image.aspect_ratio |default:1.0 %}
          <div class="lazyload nt_bg_lz pr_lazy_img" data-url-img ="{% if current_img_url != blank %}{{ current_img_url }} {% endif %}" data-bgset="{% if image != blank %}{{ image | img_url: '1x1' }}{% else %}https://placehold.it/1080x1080.png{% endif %}" data-ratio="{{ratio}}" data-sizes="auto" style="padding-top:128%;"></div>     
      	</a>
        
             
        {%- if show_label_in_stock or show_label_out_stock or show_label_sale or show_label_new or show_label_hot -%}
            {%- assign label_present = true -%}
        {%- else -%}
            {%- assign label_present = false -%}
        {%- endif -%}
        {%- if label_present or show_button_quick_view -%}
            <div class="product-image__overlay-top ">
                <a href="{{ url }}"></a>
                {%- if label_present -%}
                    <div class="product-image__overlay-top-left ">
                        {% include 'product-get-label'%}
                    </div>
                {%- endif -%}
                {%- if show_button_quick_view -%}
                    <div class="product-image__overlay-top-right">
                        {% render 'product-get-button-quick-view' with product_enable_tooltips: product_enable_tooltips %}
                    </div>
                {%- endif -%}
            </div>
        {%- endif -%}
    </div>
    <div class="product-wishlist__content">        
        {%- if product.collections.size > 0 -%}
        <div class="product-collection__more-info">
          {% render 'product-get-collections' with product: product %}
        </div>
        {%- endif -%}        
        {%- if show_title -%}
            <div class="product-wishlist__title">
                <h3 class="m-0">
                    <a href="{{ url }}">{{ title }}</a>
                </h3>
            </div>
        {%- endif -%}
        {%- if show_price -%}
            <div class="product-wishlist__price">
                {% render 'product-get-price' with price: price compare_at_price: compare_at_price %}
            </div>
        {%- endif -%}
        {% form "product", product, id: null, class: "frm_product", data-js-product-form: '' %}
            {%- if show_button_add_to_cart -%}
                <div class="product-wishlist__variants d-none">
                    {% render 'product-get-variants' with product: product current_variant: current_variant show_options: show_options show_custom_options: show_custom_options %}
                </div>
            {%- endif -%}
            {%- if show_button_add_to_cart or show_button_quick_view -%}
                <div class="product-wishlist__buttons ">
                    {%- if show_button_add_to_cart -%}
                        <div class="product-wishlist__button-add-to-cart ">
                            {% include 'product-get-button-cart' %}
                        </div>
                    {%- endif -%}
                    {%- if show_button_quick_view -%}
                        <div class="product-collection__buttons-section">
                            <div class="product-wishlist__button-quick-view-mobile">
                                {% render 'product-get-button-quick-view' with type: 'btn-text' product_enable_tooltips: product_enable_tooltips %}
                            </div>
                        </div>
                    {%- endif -%}
                </div>
            {%- endif -%}
        {% endform %}
        {%- if show_button_remove -%}
            <div class="product-wishlist__remove js-store-lists-remove-wishlist">{{ 'products.product.remove' | t }}</div>
        {%- endif -%}
    </div>
</div>