<div class="kt-page-heading" style="background-image:url('{%if collection.handle == 'all'%} {{settings.background_banner_collection}}{% else %}{% if collection.image != blank %}{{ collection.image | img_url: '1280x480' }} {% else %} {{settings.background_banner_collection}} {% endif %}{% endif %}')">
  <div class="container">
    <div class="wapper">
      <div class="inner">
        <nav class="kt-breadcrumb"><a href="/">Home</a>{{'collections' | link_to: '/collections/all'}}{%if collection.handle != 'all'%} {{collection.title | link_to: collection.url}} {% else %}{{ 'Shop'| link_to: collection.url}} {% endif %}</nav>

      </div>
    </div>
  </div>
</div>
<div class="main-container no-sidebar">
  <div class="container">
    <div class="main-content">
      <div class="page-title">
          <h3 style="margin-bottom:50px;">Wishlist</h3>
      </div>
      <div id="addtocart-message"><span id="title-addtocart"></span> Product correctly added to cart</div>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          {% if customer %}
            <table class="shop_table cart" style="border-width: 0 0 1px;">
              <thead>
                <tr>
                  <th class="product-thumbnail" style="border-bottom: 1px solid #ececec; border-width: 0 0 1px; padding-bottom: 50px; padding-top: 0;"></th>
                  <th style="border-bottom: 1px solid #ececec; border-width: 0 0 1px; font-size:14px; padding-bottom: 50px; padding-top: 0;">Product Name</th>
                  <th style="border-bottom: 1px solid #ececec;border-width: 0 0 1px;font-size:14px; padding-bottom: 50px; padding-top: 0;">Unit Price</th>
                  <th class="product-remove" style="border-bottom: 1px solid #ececec;border-width: 0 0 1px;padding-bottom: 50px; padding-top: 0;"></th>
                  <th style="border-bottom: 1px solid #ececec;border-width: 0 0 1px;padding-bottom: 50px; padding-top: 0;"></th>
                  <th style="border-bottom: 1px solid #ececec;border-width: 0 0 1px;padding-bottom: 50px; padding-top: 0;"></th>
                </tr> 
              </thead>
              <tbody>
                {% paginate collection.products by collection.all_products_count %}

                  {% capture tags %}{% for tag in customer.tags %}{{ tag }} {% endfor %}{% endcapture %}
                    {% assign tags = tags | remove:'x' | split:' ' | uniq | join:' ' %}
                      {% for product in collection.products %}

                        {% assign on_sale = false %}
                          {% if product.compare_at_price > product.price %}
                            {% assign on_sale = true %}
                          {% endif %}

                        {% assign sold_out = true %}
                          {% if product.available %}
                            {% assign sold_out = false %}
                          {% endif %}

                        {% if tags contains product.id %}
                          {% for tag in customer.tags %}
                            {% if tag contains product.id %}{% assign t = tag %}{% endif %}
                          {% endfor %}

                          {% assign check = t.size | minus:product.id.size | modulo:2 %}
                          {% assign  check_mod =  t.size | modulo :2   %}
                            {% if check == 0 or check_mod == 0  %}
                                <tr class="x{{ t }} {{ product.variants[0].id }}">
                                  <td class="product-thumbnail" style="border-width: 0 0 1px; padding: 20px 0;">{{ product.featured_image | product_img_url:'small' | img_tag:product.title }}</td>

                                  <td class="product-name" style="border-width: 0 0 1px; padding: 20px 0;"><a href="{{ product.url }}">{{ product.title }}</a></td>
                                  <td class="product-price" style="border-width: 0 0 1px; padding: 20px 0;">
                                      
                                      {% if on_sale %}
                                        {{product.price | money }}
                                        <del>{{product.compare_at_price | money }}</del>
                                      {% else %}
                                        {{product.price | money }}
                                      {% endif %}

                                      {% if sold_out %}
                                        <br><strong>{{ 'products.product.sold_out' | t }}</strong>
                                      {% endif %}
                                    </td>
                                    <td style="border-width: 0 0 1px; padding: 20px 0;">

                                        {% if product.available %}
                                          <p class="inventory">
                                          {% assign variant = product.variants.first %}
                                            {% if variant.available %}
                                              {% if variant.inventory_management != '' %}
                                                {{ variant.inventory_quantity }} available                                                  
                                              {% endif %}
                                            {% endif %}
                                          </p>
                                        {% else %}
                                          <p id="inventory">  
                                            {{ 'products.product.sold_out' | t }}
                                          </p>
                                        {% endif %}
                                    </td>

                                    <td class="product-remove" style="border-width: 0 0 1px; padding: 20px 0;">
                                      <a href="#" class="wishlist-remove" data-wid="x{{ t }}"><i class="fa fa-close"></i></a>
                                    </td>
                                    <td class="product-add-to-cart text-right" style="border-width: 0 0 1px; padding: 20px 0;">
                                      {% if sold_out == false %}

                                        {% if product.variants.size > 1 %}
                                          <button class="button button-duck" data-original-title="Select Option" onclick="location.href='{{ product.url | within: collection }}'">
                                            Product Option
                                          </button>
                                        {% else %}
                                          {% if product.variants.first.available %}
                                            <button type="button" name="add" class="button wishlist-addtocart button-duck" data-original-title="Add to cart" data-wid="{{ product.variants[0].id }}">{{ 'products.product.add_to_cart' | t }}</button>
                                          {% endif %}
                                        {% endif %}

                                      {% else %}
                                        <button class="button" data-original-title="Select Option" onclick="location.href='{{ product.url | within: collection }}'">
                                          Sold Out
                                        </button>
                                      {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                      {% endfor %}
                {% endpaginate %}
              </tbody>
            </table>
          {% else %}
            <h4>Please login to add product to wishlist </h4>
          {% endif %}
        
          {% form 'customer' %} 
              <input type='hidden' name='contact[email]' value='{{ customer.email }}'/>
              <input type='hidden' name='contact[tags]' class='remove-value' value='' />
          {% endform %}
            <form action='/cart/add' class='add-variant' method='post'>
              <input type='hidden' name='id' class='product-select' value='' />
            </form>
        </div>
      </div>
    </div>
  </div>
</div>



